/* Landing stylesheet
version: 1.0
date: 9/2/2019
Big Thanks to Riyaz for helping me with this!!
I decided to make this site from scratch as a demonstration of my site-making-prowess
and because i simply don't believe in templates.
*/


/*importing fonts */

@font-face {
  font-family: 'TiemposHeadline-Bold';
  src: url('fonts/TiemposHeadline-Bold.eot');
  src: url('fonts/TiemposHeadline-Bold.woff2') format('woff2'),
       url('fonts/TiemposHeadline-Bold.woff') format('woff'),
       url('fonts/TiemposHeadline-Bold.ttf') format('truetype'),
       url('fonts/TiemposHeadline-Bold.svg#TiemposHeadline-Bold') format('svg'),
       url('fonts/TiemposHeadline-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TiemposHeadline-Medium';
  src: url('fonts/TiemposHeadline-Medium.eot');
  src: url('fonts/TiemposHeadline-Medium.woff2') format('woff2'),
       url('fonts/TiemposHeadline-Medium.woff') format('woff'),
       url('fonts/TiemposHeadline-Medium.ttf') format('truetype'),
       url('fonts/TiemposHeadline-Medium.svg#TiemposHeadline-Medium') format('svg'),
       url('fonts/TiemposHeadline-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TiemposHeadline-Light';
  src: url('fonts/TiemposHeadline-Light.eot');
  src: url('fonts/TiemposHeadline-Light.woff2') format('woff2'),
       url('fonts/TiemposHeadline-Light.woff') format('woff'),
       url('fonts/TiemposHeadline-Light.ttf') format('truetype'),
       url('fonts/TiemposHeadline-Light.svg#TiemposHeadline-Light') format('svg'),
       url('fonts/TiemposHeadline-Light.eot?#iefix') format('embedded-opentype');
  font-weight:lighter;
  font-style: normal;
}

@font-face {
    font-family: 'Cadiz-Light';
    src: url('CadizWeb-Light.eot');
    src:url('fonts/CadizWeb-Light.woff2') format('woff2'),
        url('fonts/CadizWeb-Light.woff') format('woff'),
        url('fonts/CadizWeb-Light.ttf') format('truetype'),
        url('fonts/CadizWeb-Light.svg#CadizWeb-Light') format('svg'),
        url('fonts/CadizWeb-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'Cadiz-Regular';
  src: url('fonts/CadizWeb-Regular.eot');
  src: url('fonts/CadizWeb-Regular.woff2') format('woff2'),
       url('fonts/CadizWeb-Regular.woff') format('woff'),
       url('fonts/CadizWeb-Regular.ttf') format('truetype'),
       url('fonts/Cadiz-Regular.svg#Cadiz-Regular') format('svg'),
       url('fonts/CadizWeb-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cadiz-Bold';
  src: url('fonts/CadizWeb-Bold.eot');
  src: url('fonts/CadizWeb-Bold.woff2') format('woff2'),
       url('fonts/CadizWeb-Bold.woff') format('woff'),
       url('fonts/CadizWeb-Bold.ttf') format('truetype'),
       url('fonts/Cadiz-Bold.svg#Cadiz-Bold') format('svg'),
       url('fonts/CadizWeb-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cadiz-Black';
  src: url('fonts/CadizWeb-Black.eot');
  src: url('fonts/CadizWeb-Black.woff2') format('woff2'),
       url('fonts/CadizWeb-Black.woff') format('woff'),
       url('fonts/CadizWeb-Black.ttf') format('truetype'),
       url('fonts/Cadiz-Black.svg#Cadiz-Black') format('svg'),
       url('fonts/CadizWeb-Black.eot?#iefix') format('embedded-opentype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('fonts/Avenir-Medium.eot');
    src: url('fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Avenir-Medium.woff2') format('woff2'),
        url('fonts/Avenir-Medium.woff') format('woff'),
        url('fonts/Avenir-Medium.ttf') format('truetype'),
        url('fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black';
    src: url('fonts/Avenir-Black.eot');
    src: url('fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Avenir-Black.woff2') format('woff2'),
        url('fonts/Avenir-Black.woff') format('woff'),
        url('fonts/Avenir-Black.ttf') format('truetype'),
        url('fonts/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('fonts/Avenir-Light.eot');
    src: url('fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Avenir-Light.woff2') format('woff2'),
        url('fonts/Avenir-Light.woff') format('woff'),
        url('fonts/Avenir-Light.ttf') format('truetype'),
        url('fonts/Avenir-Light.svg#Avenir-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('fonts/Avenir-Heavy.eot');
    src: url('fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/Avenir-Heavy.woff2') format('woff2'),
        url('fonts/Avenir-Heavy.woff') format('woff'),
        url('fonts/Avenir-Heavy.ttf') format('truetype'),
        url('fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

/* Typography */

.tiempos{
  font-family: 'TiemposHeadline-Medium', 'Times New Roman', serif;
}

.tiempos-bold{
  font-family: 'TiemposHeadline-Bold', 'Times New Roman', serif;
  font-style: bold;
}

.tiempos-light{
    font-family: 'TiemposHeadline-Light', 'Times New Roman', serif;
}

.cadiz{
  font-family: 'Cadiz-Regular', 'Open Sans', sans-serif;
}

.cadiz-light{
  font-family: 'Cadiz-Light', 'Open Sans', sans-serif;
}

.cadiz-bold{
  font-family: 'Cadiz-Bold', 'Open Sans', sans-serif;
}

.cadiz-black{
  font-family: 'Cadiz-Black', 'Open Sans', sans-serif;
}

.avenir{
  font-family: 'Avenir-Medium', 'Open Sans', sans-serif;
}

.avenir-light{
  font-family: 'Avenir-Light', 'Open Sans', sans-serif;
}

.avenir-bold{
  font-family: 'Avenir-Heavy', 'Open Sans', sans-serif;
}

.avenir-black{
  font-family: 'Avenir-Black', 'Open Sans', sans-serif;
}

/* Remove padding and margin */
*{
  margin: 0;
  padding: 0;
  border: 0;
}
/* Flex properties */
.flex-center-all{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden{
  display: none;
}

/* Basics */
html,body{
  /* font */
  width: 100%;
  box-sizing: border-box;
  color: #383838;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* blending color of edge of font with surrounding pixels on
  lower resolutions for smoothing*/
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  /* Centering everything */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* #wrapper{
  width: 1024px;
  width:80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
} */

/* Media Queries bruh */

@media only screen and (max-width: 670px) {

  .screen{
    filter: blur(2px);
  }
  .breadcrumbs{
    filter: blur(2px);
  }

  .oops_overlay{
    display: flex !important;
    background-color:rgba(255, 255, 255, 0.95) !important ;
  }

  .selection_container{
    flex-basis:100% !important;
  }

  .clouds{
    display: none;
  }

  .clouds_small{
    display: block !important;
    width: 80vw;

  }

  .about_page{
  height:330vh;
  }

  /* this phone spacer will only appear if you're on the phone!*/
  .phone_spacer{
    display: block !important;
  }

  .pc_spacer{
    display: none !important;
  }

   #zoomed-in{
     height: 60vh !important;
    width: auto !important;

   }

  .phoney .image{
    flex-basis: 100%;
    flex-direction: column;
  }

  .phoney .text{
    width: 100%;
    height: 60% !important;
    min-width: 0px;
    max-width: 200px;
    flex-basis: 100%;
    flex-direction: column;
    align-content: flex-start;
  }
  .job{
        font-size: 3.5em !important;
  }

  .jaime_works{
    height: 100%;
    width:auto !important;

  }

  .projects_at_rimads{
    height: 250vh !important;
    margin-bottom:0 !important;

  }

  .done_card_body{
    height: 400px !important;
    width: 75% !important;
  }

  .done_card_body p{
    font-size: 1em;
  }

  .done_card_body h2{
    font-size: 1.5em;
  }

  .columnable{
    flex-direction: column !important;
  }

  #concept_desc{
    margin-top:30px;
  }


}





/* Typography Elements */

h1{
  font-size: 2.2em;
}
h2{
  font-size: 2.0em;
}
h3{
  font-size: 1.8em;
}
h4{
  font-size: 1.6em;
}
h5{
  font-size: 1.4em;
}
p{
  font-size: 1.2em;
  font-family: 'Cadiz-Regular', 'Open Sans', sans-serif;
}

ul, ol{
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Text selection highlight */
::selection {
  background:#536DFE;
  color:#FFF;
  text-shadow:none;
}


.job{
  text-decoration:none;
  color:#2A2A2A;
  font-size: 4em;
  /* font-size:5.2vw; */
  font-weight: bolder;
}

.job:hover{
  color:white;
}
/* Recurring Elements */


.bunny_backg {
  width:12vw;
  height:12vw;
  margin-left:-20%;
  border-radius:999px;
  overflow: hidden;

  &::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    background: url('bunny_pattern_grey.png') no-repeat center;
    background-size: cover;
    will-change: transform;
    z-index: -5;
  }
}


.bunny_cont{
    position: absolute;
    /* clip: rect(auto,auto,auto,auto); */
    -webkit-clip-path: circle();
    clip-path: circle();
    overflow: hidden;
    width: 23vw;
    height: 23vw;
    border-radius:999px;

}

.small_bunny{
  width:16vw !important;
  height:16vw !important;
}

.side_bunny{
  width:11vw !important;
  height:11vw !important;
  margin-left: -2% !important;

}

.bunny_image{
  background: url('bunny_pattern_grey.png') no-repeat 100% 100%;
  background-size: cover;
  position: fixed;
  width: 120%;
  height: 120%;
  top: 0;
}



.ruler-vertical{
  position: fixed;
  top: 0;
  left:0;
  z-index: 120;
  width: 45px;
  height: 100%;
  padding-top: 0px;
  opacity:0.3;
}


.breadcrumbs{
  position: fixed;
  text-align: left;
  width: 400px;
  top:7%;
  left:3%;
  z-index: 69;

  font-size: 1.1em;
}

.breadcrumbs a{
   color: black;
   text-decoration: none; /* no underline */
}

.breadcrumbs a:hover{
    color: #f7e5bb;
}

#rim_hover:hover{
    color:#61edff;
}

.page_number{

  position: fixed;
  right:4%;
  bottom:6%;
  z-index: 99;
  color: black;
  font-size:24px;
  transition: all 0.25s;
}

.page_number:hover{

  background-color:white;
  -webkit-box-shadow: 0px 4px 24px 0px rgba(176,176,176,0.3);
  -moz-box-shadow: 0px 4px 24px 0px rgba(176,176,176,0.3);
  box-shadow: 0px 4px 24px 0px rgba(176,176,176,0.3);
  border-radius: 15px;
  padding: 20px;
  bottom:6.5%;
  right:3%;

}


/* Patti Page */

.screen{
  height: 105vh;
  width: 80vw;
  display: flex;
  flex-direction: row;

    margin-top:50px;
      margin-bottom:50px;
}


#dev_container{
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.snappy{
  scroll-snap-align: start;
}

.dev_screen{
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: row;

  margin-top:30px;
  margin-bottom:30px;
}

.first_screen{
  margin-top:0px !important;
}

.double_screen{
  height: 210vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
}

.screen_background{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.footer{
  height: 5vh;
  width: 100vw;
  position:static;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  font-size: 1em;
  color:#d9d3c1 ;

}

.flex_col{
  display: flex;
  flex-direction: column;
}

.flex_row{
  display: flex;
  flex-direction: row;
}

.col-sm-1{
  flex-basis: 8.333333% ;
}

.col-sm-2{
  flex-basis: 16.66666% ;
}

.col-sm-3{
  flex-basis: 25% ;
}

.col-sm-4{
  flex-basis: 33.333333% ;
}

.col-sm-5{
  flex-basis: 41.66666% ;
}
.col-sm-6{
  flex-basis: 50% ;
}

.col-sm-7{
  flex-basis: 58.333333% ;
}

.col-sm-8{
  flex-basis: 66.66666% ;
}

.col-sm-9{
  flex-basis: 75% ;
}

.col-sm-10{
  flex-basis: 83.33333% ;
}

.col-sm-11{
  flex-basis: 91.66666% ;
}

.col-sm-12{
  flex-basis: 100% ;
}

.fill-width{
width: 100vw !important;
}

/* #cards{
  transform: perspective(60em) rotateX(45deg) rotateZ(330deg);

} */


.oops_overlay{
  display:none;
  flex-direction:column;
  height:105vh;
  width:100vw;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  background-color:white;
}

.bunny_container{
  width:90%;
  margin: 20px;
}

.bunny_container {
  width: 60%;
  height:30%;
}

.circle {
  border-radius: 20%;
  width: 100%;
  padding-bottom: 100%;
  background:url('bunny_pattern.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-origin: content-box;
}

.job_screen h2{
  font-family: 'TiemposHeadline-Bold', 'Times New Roman', serif;
  font-weight: bolder;
  font-size:  3.75vw;
  line-height: 1;
  color:#3D3D3D;
  /* color: #FF6B6B; */
  /* color:white; */
}

.job_screen h3{
  font-family: 'Cadiz-Regular', 'Open Sans', sans-serif;
  margin-top:5px;
  font-size:  1.25vw;
  color: #FF7878;
}

.job_screen mark{
  background-color:white;
  border-radius:99px;
  padding:4px 10px 4px 10px;
  color:#FF7878;
}

.job_screen a{
  text-decoration: none;
  color: white;
}

.job_screen a:hover h2{
  color: #FF6B6B;
}

.job_screen a:hover h3{
  color: #FF7878;
}


#cards{
  transform: perspective(60em) rotateX(0) rotateZ(0);

}

#cards img{
  -webkit-box-shadow: 0px 10px 44px -6px rgba(179,177,179,0.75);
  -moz-box-shadow: 0px 10px 44px -6px rgba(179,177,179,0.75);
  box-shadow: 0px 10px 44px -6px rgba(179,177,179,0.75);
  border-radius: 5px;

  transition: all 0.5s;
}

#cards img:hover{
  transform: translateY(-1em) rotate(0deg);
}

#work_screen{
  margin-top:200px;
  margin-bottom:300px;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top:40px;
  bottom:20px;
  margin-top: 20px;
}

.sticky-add{
  position: -webkit-sticky;
  position: sticky;
  top:180px;
  bottom:20px;
  margin-top: 20px;

}


.sticky_concept{
  position: -webkit-sticky;
  position: sticky;
  top:10vh;
  bottom:10vh;
  margin-bottom:20px;
}


.dev_cards img{

}

.event_img{
  height:90%;
  min-height:250px;
  max-height:350px;
  margin: 20px;
}


.shade{
  -webkit-box-shadow: -6px 16px 63px -9px rgba(150,150,150,1);
  -moz-box-shadow: -6px 16px 63px -9px rgba(150,150,150,1);
  box-shadow: -6px 16px 63px -9px rgba(150,150,150,1);
  border-radius: 8px;

}

.light-shade{
  -webkit-box-shadow: -1px 6px 83px 20px rgba(224,224,224,1);
  -moz-box-shadow: -1px 6px 83px 20px rgba(224,224,224,1);
  box-shadow: -1px 6px 83px 20px rgba(224,224,224,1);
  border-radius: 4px;

}

.lighter-shade{
  -webkit-box-shadow: 0px 4px 24px 0px rgba(176,176,176,0.3);
  -moz-box-shadow: 0px 4px 24px 0px rgba(176,176,176,0.3);
  box-shadow: 0px 4px 24px 0px rgba(176,176,176,0.3);
  border-radius: 15px;
}

#offered_got{
  align-items: center;
  align-content: center;
  justify-content: center;
}

#offered_got h2{
  font-size: 5em;
}



#patti_div{
  position: relative;
  background-color: white;

  flex-basis:  50%; /*OF THE OUTER WRAPPER*/
}

#patti_desc{
  position: relative;
  background-color: grey;
  flex-basis: 50%; /*OF THE OUTER WRAPPER*/

}

#patti_desc_text{
  position: absolute;
  width: 20vw;
  min-width: 250px;
  bottom:210px;
  margin-left: 20px;

  text-align: left;


}

#patti_text{
  position: absolute;
  font-size: 4vw;
  right:-50px;
  top:230px;
  z-index: 69;

  color: #FFDD58;
}



#patti_img{
    padding-top:150px;
    width: 23vw;
    min-width: 220px;
}


#QSC_text{
  position: absolute;
  font-size: 7vw;
  right:-200px;
  top:230px;
  z-index: 69;

  font-family: 'Cadiz-Bold', 'Open Sans', sans-serif;
  color: #FFDD58;
}

#stem_logo{
  width: 50vw;
  min-width: 400px;
}

#stem_logo_cell{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.thumbnail{
    width: 23vw;
    min-width: 220px;
}


#overlay {
  position: fixed;
  display: none;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.95);
  z-index: 99;

  filter: blur(0px);

  align-items: center;
  align-content: center;
  justify-content: center;
}

#overlay_container{
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}


#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

img.cloud-short {
    -webkit-animation: mover-short 15s infinite  alternate;
    animation: mover-short 15s infinite  alternate;
}

img.cloud-med {
    -webkit-animation: mover-med 70s infinite  alternate;
    animation: mover-med 70s infinite  alternate;
}

img.cloud-long {
    -webkit-animation: mover-long 50s infinite  alternate;
    animation: mover-long 50s infinite  alternate;
}

.slow_blur {
    -webkit-animation: slow-blur 10s 0.5s infinite;
    animation: slow-blur 10s 0.5s infinite;
}

.move_blur {
    -webkit-animation: move-blur 20s 3s infinite;
    animation: move-blur 20s 3s infinite;
}

.move_around_blur {
    -webkit-animation: move-around-blur 19s 1s infinite;
    animation: move-around-blur 19s 1s infinite;
}

.fadeout {
    -webkit-animation: fadeout 2s 0.7s forwards ease-in-out;
    animation: fadeout 2s 0.7s forwards ease-in-out;
}

.fadeout_fast {
    -webkit-animation: fadeout-fast 2s 0.3s forwards ease-in-out;
    animation: fadeout-fast 2s 0.3s forwards ease-in-out;
}

.float_around {
    -webkit-animation: float 7s infinite forwards ease-in-out;
    animation: float 7s infinite forwards ease-in-out;
}

/* #################### */
/* Animations my dude */
/* #################### */

@-webkit-keyframes float{
    0% { margin-top:0px; }
    33% { margin-top:10px; }
    66% { margin-top: -10px; }
    100% { margin-top: 0px; }
}

@-webkit-keyframes fadeout{
    0% { opacity: 1; }
    100% { opacity: 0;}
}

@-webkit-keyframes fadeout-fast{
    0% { opacity: 1; }
    100% { opacity: 0;}
}

@-webkit-keyframes slow-blur{
    0% { filter:blur(0px); }
    50% { filter:blur(1.5px); }
    100% { filter:blur(0px); }
}

@keyframes slow-blur {
    0% { filter:blur(0px); }
    50% { filter:blur(1.5px); }
    100% { filter:blur(0px); }
}


@keyframes move-blur {
    0% { filter:blur(0px);}
    33% { filter:blur(0.3px); margin-left:20px;}
    66% { filter:blur(0.3px); margin-right:20px;margin-left:0px;}
    100% { filter:blur(0px); margin-right:0px; }
}

@keyframes move-around-blur {
    0% { filter:blur(0px);}
    33% { filter:blur(1px); margin-left:70px;margin-top:20px;}
    50% { filter:blur(0px); margin-left:0px;margin-top:60px; }
    66% { filter:blur(1px); margin-right:70px;margin-top:-40px; }
    80% { filter:blur(0.5px); margin-right:-30px;margin-top:-80px; }
    100% { filter:blur(0px); margin-right:0px;margin-top:0px; }
}


@-webkit-keyframes mover-short {
    0% { transform: translateX(0); }
    100% { transform: translateX(+20vw); }
}
@keyframes mover-short {
    0% { transform: translateX(0); }
    100% { transform: translateX(+20vw); }
}

@-webkit-keyframes mover-med {
    0% { transform: translateX(0); }
    100% { transform: translateX(50vw); }
}
@keyframes mover-med {
    0% { transform: translateX(0); }
    100% { transform: translateX(50vw); }
}

@-webkit-keyframes mover-long {
    0% { transform: translateX(0); }
    100% { transform: translateX(+70vw); }
}
@keyframes mover-long {
    0% { transform: translateX(0); }
    100% { transform: translateX(+70vw); }
}



/*=========== Kitchen Sink ==========*/
.everything_section h2{
  font-size:50px;
  margin-left:200px;
  font-family: 'Avenir-Black', 'Open Sans', sans-serif;
}

.everything_section h3{
  margin-left:200px;
  font-family: 'Cadiz-Bold', 'Open Sans', sans-serif;
  opacity: 0.7;
}

.everything_section p{
  max-width:400px;
  margin-left:200px;
  margin-top:7px;
  opacity: 0.7;
}

.cw_poster{
  width:80%;
  min-width:250px;
  max-width:750px;
}

.underline{
  margin-top:5px;
  height: 5px;
  width: 110px;
  border-radius: 99px;
  background-color:#FF7878;

  transition: all 0.4s;
}

.learn_more:hover{
  margin-bottom: 10px;
}

.contact_button{
  transition: all 0.5s;
}

.contact_button:hover{
  margin-top: -15px;
}

.zoomy{
  transition: all 1s;
}

.zoomy:hover{
  transform: scale(1.05);
}


.floaty{
  transition: all 1s;
}

.floaty:hover{
  transform: translateY(-1em);
}

/*============= Rimads =============*/

.justify_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.legit_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.smooth{

  scroll-behavior: smooth;

}

.clouds{
  height:90%;
  max-height: 500px;
}

.clouds_small{
  height:100%;
}


#screenshot{
  display: flex;
   justify-content:center;
   align-content:center;
   align-items:center;
}

.project_banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  height: 40vh;

}

.project_banner h2{
  font-size: 6em;
  color: #55EEFF;
}

.about_page{
height:130vh;
width:85vw;
}

.about_page h2{
font-size:3.1em;
line-height:1.1;

background-color: #2fedff;
color: transparent;
text-shadow: 6px 6px 0px rgba(255,255,255,0.3);
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
}

.about_page p{
  opacity: 0.9;
  font-size:0.95em;
max-width:300px;
margin-top:15px;
}

.skip_button{
  background-color:#55EEFF;
  text-decoration: none;
  color:white;
  border-radius:30px;
  height:60px;
  width:300px;
  margin-top:-200px;

  transition: all 0.5s;

  -webkit-box-shadow: 0px 6px 50px 3px rgba(207,207,207,0.83);
-moz-box-shadow: 0px 6px 50px 3px rgba(207,207,207,0.83);
box-shadow: 0px 6px 50px 3px rgba(207,207,207,0.83);
}

.skip_button:hover{
  transform: scale(1.1);
}

.bullet{
    color: #55EEFF;
}

.salmon{
   background: linear-gradient(0deg, rgba(253,229,222,1) 28%, rgba(255,244,236,1) 100%);
}

.salmon_reverse{
   background: linear-gradient(180deg, rgba(253,229,222,1) 28%, rgba(255,244,236,1) 100%);
}

.golden{
  background: rgb(255,243,177);
  background: linear-gradient(0deg, rgba(255,243,177,1) 0%, rgba(255,208,149,1) 100%);
}

.done_card{
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.done_card_body{
  -webkit-box-shadow: 9px 13px 94px -11px rgba(209,209,209,0.73);
  -moz-box-shadow: 9px 13px 94px -11px rgba(209,209,209,0.73);
  box-shadow: 9px 13px 94px -11px rgba(209,209,209,0.73);
  border-radius: 25px;

  height:430px;
  width:60%;
  min-width: 250px;
  max-width: 300px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 20px;


  transition: all 1s;


}

.done_card_body:hover{

    margin-bottom:20px;
    margin-top:-20px;

}


.done_card h2{
  color: black;
}

.done_card p{
  color: #c7d0d6;
}

.done_card img{
  width:65%;
  max-height:200px;
}

.backg_red{
  background-color: red;
}

.backg_brown{
  background-color: brown;
}

.backg_pink{
  background-color: pink;
}

.backg_black{
  background-color: black;
}
